:root {
  /*--background: #ffffff;*/
  /*--foreground: #171717;*/
  background: linear-gradient(178.1deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

body {
  color: var(--foreground);
  background: linear-gradient(135deg, #0e0e0e, #1a1a1a) no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
